<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header') %>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <br />
    <% if (locals.blog) { %>
    <div class="container mt-3">
      <h1><%= blog.title %></h1>
      <img
        src="<%= blog.
coverImageUrl %>"
        alt=""
        srcset=""
        width="400px"
      />

      <pre>
<%= blog.
body %></pre
      >
    </div>

    <% } %>

    <br />

    <div class="container mt-3">
      <h3>COMMENTS:</h3>
      <% if (locals.user) { %>

      <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input
            type="text"
            class="form-control"
            id="comment_box"
            placeholder="enter your comment"
            name="comment"
          />
          <button type="submit" class="btn btn-primary">comment</button>
        </div>
      </form>
      <% } %>

      <div class="mt-3">
        <% comments.forEach(comment => { %>
        <h5><%= comment.createdBy.fullName %></h5>
        <p><%= comment.comment %></p>
        <% }) %>
      </div>
    </div>

    <br />
    <%- include('./partials/scripts') %>
  </body>
</html>
